@font-face {
    font-family: 'Buttons';
    src: url("../../fonts/Poppins-Medium.ttf") format("truetype");
 }  $font-buttons: 'Buttons', sans-serif;


.App_create{
    height: 100%;
    width: 100%;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


.create_content{
    
      &-square{
            margin: auto ;
            display: flex;
            flex-direction: column;
            background-color: rgb(233, 233, 233);
            width: 1120px;
            height: 650px;
            border-radius: 25px;
            align-content: center;
            justify-content: space-around;
        }

}

    
.options{
    flex-basis: 625px;
    background-color: white;
    height: 600px;
    margin: auto 0;
    border-radius: 25px;
    padding: 30px;
    box-sizing: border-box;


    &-buttons{
        display: flex;
        justify-content: space-around;

    }

    &-button{
        border: 2px solid rgb(233,116,25);
        color: rgb(233,116,25);
        width: 80px;
        height: 80px;
        border-radius: 50px;
        background-color: transparent;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        transition: all 0.3s ease-out ;
    }

    &-button:hover{
        background-color: rgba(233, 115, 25, 0.151);
        transition: all 0.3s ease-in ;
    }

    &-next{
        display: flex;
        flex-direction: column;
        
    }
}

.create_squares{
    margin: auto;
    display: flex;
    width: 1120px;
    height: auto;
    border-radius: 25px;
    align-content: center;
    justify-content: space-around;
}

.app_btnnext{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background: none;
    border: 2px solid rgba(233,116,25,1);
    color: rgba(233,116,25,1);
    margin: 10px auto ;
    font-family: $font-buttons;
    font-size: 1.3em;
    transition: all 0.3s ease-out ;
}

.app_btnnext:hover{
    background: rgba(233,116,25,1);
    color: white;
    transition: all 0.3s ease-in ;
}


.btns_space{
        display: flex;
        justify-content: space-between;
}