
@mixin bg-gradient($angle: 180deg, $Orange: rgba(233,116,25,1), $Yellow: rgba(248,213,67,1), $amount: 20%) {
    background: linear-gradient($angle, $Orange, $Yellow, $Orange) fixed;
  }

  @font-face {
    font-family: 'minion';
    src: url("../../fonts/MODERNA.TTF") format("truetype");
 }

 @font-face {
    font-family: 'Buttons';
    src: url("../../fonts/Poppins-Medium.ttf") format("truetype");
 }


 $font-main: 'minion', sans-serif;
 $font-buttons: 'Buttons', sans-serif;


.App{
    @include bg-gradient;
    margin: auto;
    width: 100%;
    height: 695px;
    display: flex;
    
}

.linkto{
    color: white;
    margin: 100px;
    text-decoration: none;
}

.app_btnstart{
    width: 300px;
    height: 50px;
    border-radius: 30px;
    background: none;
    border: 2px solid white;
    margin: 20px auto ;
    font-family: $font-buttons;
    color: white;
    font-size: 1.3em;
    transition: all 0.3s ease-out ;
}


.app_btnstart:hover{
    
    background: white;
    color: rgba(233,116,25,1);
    transition: all 0.3s ease-in ;
}

.app_titles{
    width: 70%;
    height: 400px;
    margin: 100px auto auto auto;
//    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app_title{
    font-family: $font-main;
    color: white;
    font-size: 11em;
    margin: 0px auto ;
  //  background-color: red;
}

.app_title2{
    color: black;
    font-size: 4em;
    margin: -90px auto 0px auto; 
    //background-color: rgb(21, 84, 179);
}

.buttons_ini{
    margin: 0 auto;
    display: flex;
    width: 700px;
    height: auto;
    justify-content: space-around;
}